<%= form_tag result_path, method: 'post' do %>

  <% if cookies.encrypted[:issues_submitted] == nil %>
    <%= 'Acesso negado' %>
  <% else %>
    <div class="deep-purple bar "></div>

    <div class="container">

      <div class="card center-align">

        <%# begin %>
          <%#= render partial: "question", collection: cookies[:questions] %>
        <%# rescue %>
          <%#= render partial: "question", collection: ActiveSupport::JSON.decode(cookies[:questions]) %>
        <%# end %>

        <%= JSON.parse(cookies[:questions]) %>

        <div class="btn deep-purple darken-3 waves-effect back2 right" style="margin: 10px"> Voltar</div>
        <div class="btn deep-purple darken-3 waves-effect back3 right" style="margin: 10px"> Voltar</div>


        <div class="row box">
          <%= button_tag "Enviar Respostas", class: "btn waves-effect waves-light blue sub actb col s5", style: "margin: 10px" %>
          <div class="btn deep-purple darken-3 waves-effect rr right col s5 actb z-depth-1" style="margin: 10px">
            REFAZER RESPOSTAS
          </div>
        </div>

      </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.content_q1').hide();
            $('.content_q2').hide();
            $('.sub').hide();
            $('.rr').hide();
            $('.back2').hide();
            $('.back3').hide();

            $(".q0").click(function () {
                setTimeout(function () {
                    $('.content_q0').fadeOut('fast', function () {
                        $('.content_q1').fadeIn('fast');
                        $('.back2').show();
                    });
                }, 400);
            });

            $(".q1").click(function () {
                setTimeout(function () {
                    $('.content_q1').fadeOut('fast', function () {
                        $('.content_q2').fadeIn('fast');
                        $('.back2').hide();
                        $('.back3').show();
                    });
                }, 400);
            });

            $(".q2").click(function () {
                setTimeout(function () {
                    $('.content_q2').fadeOut('fast', function () {
                        $('.back3').hide();
                        $('.sub').fadeIn('fast');
                        $('.rr').fadeIn('fast');
                    });
                }, 400);
            });

            $(".back2").click(function () {
                setTimeout(function () {
                    $('.content_q1').hide();
                    $('.back2').hide();
                    $('.content_q0').fadeIn('fast');
                }, 400);
            });

            $(".back3").click(function () {
                setTimeout(function () {
                    $('.content_q2').hide();
                    $('.back3').hide();
                    $('.content_q1').fadeIn('fast');
                    $('.back2').show();
                }, 400);
            });

            $(".rr").click(function () {
                setTimeout(function () {
                    $('.rr').hide();
                    $('.sub').hide();
                    $('.content_q0').fadeIn('show');
                }, 400);
            });
        });
    </script>
  <% end %>
<% end %>