<%= form_tag result_path, method: 'post' do %>

  <% if $issues_submitted == nil || $issues_submitted %>
    <%= 'Acesso negado' %>
  <% else %>
    <div class="deep-purple bar "></div>

    <div class="container">

      <div class="card center-align" style="width: 50%">

        <%= render partial: "question", collection: $questions %>

        <div class="btn deep-purple darken-3 waves-effect back2 right" style="margin: 10px"> Voltar</div>
        <div class="btn deep-purple darken-3 waves-effect back3 right" style="margin: 10px"> Voltar</div>


        <div class="row box">
          <%= button_tag "Enviar Respostas", class: "btn waves-effect waves-light blue sub actb col s5", style: "margin: 10px" %>
          <div class="btn deep-purple darken-3 waves-effect rr right col s5 actb z-depth-1" style="margin: 10px"> REFAZER RESPOSTAS</div>
        </div>

      </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            // $('.q1').hide();
            $('.content_q1').hide();
            // $('.q2').hide();
            $('.content_q2').hide();
            $('.sub').hide();
            $('.rr').hide();
            $('.back2').hide();
            $('.back3').hide();

            $(".q0").click(function () {
                // $('.q0').hide();
                $('.content_q0').hide();
                $('.content_q1').show();
                $('.back2').show();
                // $('.bar').animate({width: "33%"});
            });

            $(".q1").click(function () {
                // $('.q1').hide();
                $('.content_q1').hide();
                $('.content_q2').show();
                $('.back2').hide();
                $('.back3').show();
                // $('.bar').animate({width: "66%"});
            });
            $(".q2").click(function () {
                // $('.q2').hide();
                $('.content_q2').hide();
                $('.sub').show();
                $('.rr').show();
                $('.back3').hide();
                // $('.bar').animate({width: "100%"});
            });
            $(".back2").click(function () {
                // $('.q1').hide();
                // $('.q0').show();
                $('.content_q1').hide();
                $('.content_q0').show();
                $('.back2').hide();
                // $('.bar').animate({width: "1%"});
            });
            $(".back3").click(function () {
                $('.content_q2').hide();
                $('.content_q1').show();
                $('.back3').hide();
                $('.back2').show();
                // $('.bar').animate({width: "33%"});
            });
            $(".rr").click(function () {
                $('.rr').hide();
                $('.sub').hide();
                $('.content_q0').show();
                // $('.bar').animate({width: "1%"})
            });
        });
    </script>
  <% end %>
<% end %>

