<div class="container" style="width: 70%; margin-top: 100px;">
  <div class="row">
    <div class="col s4 offset-s4 card">
      <p>Resultado:</p>
      <p>Pergunta 1: <%= @answer1 %></p>
      <p>Pergunta 2: <%= @answer2 %></p>
      <p>Pergunta 3: <%= @answer3 %></p>
    </div>
  </div>
</div>