<div class="container" style="width: 70%; margin-top: 100px;">
  <div class="row">
    <div class="col s12 m8 l8 push-m2 push-l2 card">

      <p class="col s6 right ">Resultado:</p>
      <p class="col s6 left"><%= link_to "Home", index_path %></p>

      <div class="container center">
        <% $questions.each do |q| %>
          <%= "#{q.desc} #{q.value}" %><br>
        <% end %>
      </div>

    </div>
  </div>
</div>